---
---

<!DOCTYPE html>

<html lang="en">
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="style.css">
</head>

<body>

<h1>{{site.data.my.name}}</h1>
<h2>{{site.data.my.byline}}</h2>
<h3>
    {{site.data.my.headline}}
</h3>
<!--<p>{{site.data.my.data.my.name}}</p>-->

<!-- two columns -->
<hr style="background-color: lightgray;">
<div class="columns">

<!-- left column -->
<div class="left">

    <br>
    <div class="section">
        <h2>Contact</h2>
        {% include contact.html %}    
    </div>

    <br>
    <div class="section">
        <!--<h2>Tech Stack</h2>-->
        {% include techstack.html %}
    </div>

    <br>
    <div class="section">
        <h2>Hobbies</h2>
        {% include hobby.html %}
    </div>

    <div class="section">
        <!-- <h2>Languages</h2> -->
        {% include language.html %}
    </div>
</div>
<!-- left column end -->

<div class="vr"></div>




<!-- right column -->
<div class="right">
    
<br>
<div class="section">
    <h2>Education</h2>
    {% include education.html %}
</div>

{% if site.data.my.experience %}
<div class="section">
        <h2>Research Experience</h2>
    {% include experience_research.html %}
</div>
{% endif %}

{% if site.data.my.publication %}
    <div class="section">
        <h2>Publications</h2>
        {% include publication.html %}
    </div>
{% endif %}

{% if site.data.my.experience %}
<div class="section">
        <h2>Industry Experience</h2>
    {% include experience_industry.html %}
</div>
{% endif %}

{% if site.data.my.project %}
    <div class="section">
        <h2>Startup</h2>
        {% include project.html %}

    </div>
{% endif %}


</div>

<!-- right column end -->

</div>
<!-- two columns end -->

</body>

</html>
