---
---
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

$font-size: 11pt;
$section-margin: 5pt;

html,body{
    height: 297mm;
    width: 225mm;//210mm; 
    margin: auto;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

.headline {
    font-size: $font-size + 2pt;
}

// person name
h1 {
    font-family: 'Lobster', cursive;
    margin-top: 0pt;
    margin-bottom: 10px;
   // margin-left: 30px;
    font-size: 35pt;
    font-weight: normal;
    //font-family: 'Pinyon Script', cursive;
}
table.default {
    width:100%;
    border:0px;
    border-spacing:0px;
    border-collapse:separate;
    margin-left:auto;
    vertical-align: middle;
   }
td {
    //padding:2.5%;
    padding-top:2mm;
    padding-bottom:2mm;
   }
tbody, td, tr{
    border-spacing: 0px;
    border-collapse: separate;
    margin-left: auto;
    }

// section title
h2 {
    font-size: $font-size + 10pt;
    font-weight: normal;
    //font-family: 'Lobster', cursive;
    margin-top: 3px;
    margin-bottom: 5px; // TODO
    margin-left: 0;
    // color: #4E4E4E;
}

h3 {
    font-weight: normal;
    margin-bottom: 10px;
}

h4 {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0;
    font-size: $font-size + 4px;
}

// links
a, a:visited {
    color: #214485;
}

// paragraphs
p {
    font-size: $font-size;
    margin-top: 5pt;
    margin-bottom: 5pt;
    min-width: 140mm;
}

// column layout
.columns {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

// section layout
.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: $section-margin;
}

// contact section
.contact {
    display: flex;
    flex-direction: column;
    gap: 7px;
    i {
        font-size: $font-size + 1pt;
        color: black;       
    }
    a {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        align-items: center;     
        }
}

// language section
.language {
    margin: 5px;
}

// techstack section
.techstack {
    display: flex;
    flex-direction: column;

    .item {
        display: inline-block;
        line-height: 0.8rem;
        font-size: 0.8rem;
        background: none;
        margin: 5px;
        text-decoration: none;

        .item-inner {
            display: flex;
            flex-direction: row;
            align-items: center;

               img {
                width: 20px;
                height: 20px;
                    } 
            }
    }
}

// hobby section
.hobby {
    margin: 5px;
    .item {
        font-size: 0.9rem;
    }
}


// education and experience entries
.exp_entry {
    margin-top: 3pt;
    margin-bottom: 5pt;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;

    .exp_entry-items {
        display: flex;
        flex-direction: column;
    flex-grow: 1;
        }

    .loc {
        float: right;
        color: #BDC3C7;
        }

    .time {
        float: right;
        color: #BDC3C7;
        }
}
.experience {
    img {
        height: 44px;
        width: 44px;
        margin-right: 5px;
        }

    .title {
        font-size: $font-size + 1pt;
        font-weight: 600;
        }

    .subtitle {
        font-size: $font-size;
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 5px;
        }
}

.education {
    img {
        height: 30px;
        width: 30px;
        margin-right: 5+7px;
        margin-left: 7px;
        }

    .title {
        font-size: $font-size + 1pt;
        //font-weight: 600;
        }

    .subtitle {
        font-size: $font-size;
        font-weight: 600;
        }
    margin-top: 2px;
    margin-bottom: 2px;
}
// publication section
.publication{ 
//padding-left: 49px;

    //text-align:justify;
 i { // for conference
    font-size: $font-size// - 1pt;     
    }

    img {
    width: 100%; //120px;
    height: auto; //80px;
    }
}

// project section
.project{
    //text-align:justify;
    padding-left: 49px;
    img {
    width: auto; //120px;
    height: auto; //80px;
    }
}

hr {
  border: 0px;
  padding-top: 1px;
  //background-color: rgb(118, 118, 118); 
  background: linear-gradient(to right, #575757, transparent);  // #d0d0d5
  margin: 1pt;
}
// vertical rule
.vr {
  // border-left: 0;
  border: 0;
  padding-left: 1px;
  background: linear-gradient(to bottom, transparent, #575757, transparent);  // #d0d0d5
  //background: black;
  height: auto;
}

// A4 printing
//@media print {
    //body{
        //height: 297mm;
        //width: 225mm;
   //} 
//}
