<!-- NOTE: realized that also used for education entries; todo rename "exp_entry" to "title-subtitle" or something -->
<div class="exp_entry {{include.type}}"> 
   <img src="{{include.icon | prepend: "/imgs/"}} "> 
   <div class="exp_entry-items">
         <div>
            <span class="title">
               {{include.title}}
            </span> 
            <span class="loc">
               <i class="bi bi-geo-alt"></i>
               <!-- {{include.loc}} -->
               {{site.data.my.defaultloc}}
            </span>
         </div>
         <div>
            <span class="subtitle">
               {{include.subtitle}}</span> 

            <span class="time">
               {{include.time}}
            </span>
         </div>
         <div class="description">
         <p>{{include.description}}</p>  
         </div>  
      </div>
</div>
