{% for item in site.data.my.experience %}
    {% include exp_entry.html 
                        type = 'experience'
                        icon = item.icon
                        title = item.company
                        subtitle = item.role
                        description = item.description
                        loc = item.loc
                        time = item.time
    %}
{% endfor %}
<h2>Industry Experience</h2>
{% for item in site.data.my.industry_experience %}
    {% include exp_entry.html 
                        type = 'experience'
                        icon = item.icon
                        title = item.company
                        subtitle = item.role
                        description = item.description
                        loc = item.loc
                        time = item.time
    %}
{% endfor %}